body {
  background: url("photos/robert-katzki-fyHkeWGOpHM-unsplash.jpg");
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 15pt;
}

nav button {
  background-color: indianred;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  position: relative;
  right: 80px;
  display: block;
  transition: 1s;
}
nav {
 
}

form button {
  border: 1px solid #FFFFFF;
  border-radius: 1em;
}

form input {
  color: black;
  background-color: #F5D2D6;
  border: 1px solid #FFFFFF;
  border-radius: 1em;
}

form textarea {
  color: black;
  width: 75%;
  height: 3.5em;
  background-color: #F5D2D6;
  border: 1px solid #FFFFFF;
  border-radius: 1em;
}


nav button:hover {
  right: 0px;
}

h1 {
  color: gold;
  opacity: 0.5;
}

#reader {
  background-color: #F5D2D6;
  color: black;
  border: 1px solid #FFFFFF;
  border-radius: 1em;
  font-size: 12px;
}