body {
  background: url("photos/robert-katzki-fyHkeWGOpHM-unsplash.jpg");
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 15pt;
}

nav button {
  background-color: indianred;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  position: relative;
  right: 80px;
  display: block;
  transition: 1s;
}
nav {
 
}

form button {
  border: 1px solid #FFFFFF;
  border-radius: 1em;
}

form input {
  color: black;
  background-color: #F5D2D6;
  border: 1px solid #FFFFFF;
  border-radius: 1em;
}

form textarea {
  color: black;
  width: 75%;
  height: 3.5em;
  background-color: #F5D2D6;
  border: 1px solid #FFFFFF;
  border-radius: 1em;
}


nav button:hover {
  right: 0px;
}

h4 {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 0.5px white;
}

.logo {
  width: 40%;
  position: absolute;
  opacity: 0.25;
  left: 60%;
  top: 80%;
  transition: 1s;
}

@font-face {
  font-family: WhiteDream;
  src: url("fonts/WhiteDreamPERSONALUSEONLY-Regular.otf");
}

@font-face {
  font-family: DearLove;
  src: url("fonts/DearLove.ttf");
}

@font-face {
  font-family: PinkySmoke;
  src: url("fonts/Pinky Smoke.ttf");
}

.logo:hover {
  opacity: 1;
}
#reader {
  background: rgba(25,0,25,0.15);
  color: white;
  font-family: Helvetica;
  padding-left: 4px;
  border: 1px solid #FFFFFF;
  border-radius: 1em;
  font-size: 18px;
  transition: 1s;
  padding-right: 2px;
}

#reader:hover {
  background: rgba(25,0,25,0.25);
}

#subtext {
  position: absolute;
  top: 1.5%;
  left: 35%;
  color: rgba(0,0,0,0);
  -webkit-text-stroke: 0.5px white;
} 